/.tarball-version
/ChangeLog
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/install-sh
/build-aux/missing
/build-aux/py-compile
/build-aux/tap-driver.sh
/build-aux/test-driver
/config.log
/config.status
/configure
/m4/
/scripts/vectis
/t/*.log
/t/*.trs
/t/*/*.log
/t/*/*.trs
/test-suite.log
/vectis-UNKNOWN.tar.xz
/vectis-UNKNOWN/
/vectis-[0-9]*.tar.xz
/vectis-[0-9]*/
__pycache__/
